@model Department
@{
    ViewData["Title"] = "Create";
}
 
   
 
<h1>Create New Department</h1>
<form asp-action="Create">
    <div class="from-group">
        <label class="col-from-label" asp-for="Code"></label>
        <input class="from-control" asp-for="Code"/>
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>

    <div class="from-group">
        <label class="col-from-label" asp-for="Name"></label>
        <input class="from-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="from-group">
        <label class="col-from-label" asp-for="DateOfCreation"></label>
        <input class="from-control" asp-for="DateOfCreation" />
        <span asp-validation-for="DateOfCreation" class="text-danger"></span>
    </div>

    <input type="submit" value="Submit" class="btn btn-primary"/> |
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>

