@model Department
@{
    ViewData["Title"] = "Details";
}

<h1>Department @Model.Name Details</h1>
<div class="from-group">
    <label class="col-from-label" asp-for="Code"></label>
    <input readonly class="from-control" asp-for="Code" />
 
</div>

<div class="from-group">
    <label class="col-from-label" asp-for="Name"></label>
    <input readonly class="from-control" asp-for="Name" />
   
</div>

<div class="from-group">
    <label class="col-from-label" asp-for="DateOfCreation"></label>
    <input  readonly class="from-control" asp-for="DateOfCreation" />
  
</div>

<input type="submit" value="Edit" class="btn btn-secondary" /> |
<a asp-action="Index" class="btn btn-light">Back To List</a>

